<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Import.NikePlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Import.NikePlus.Properties.Settings>
            <setting name="AUTHENTICATION_URL" serializeAs="String">
                <value>https://secure-nikerunning.nike.com/nikeplus/v2/services/app/generate_pin.jsp?login={0}&amp;password={1}</value>
            </setting>
            <setting name="GET_WORKOUTS_LIST_URL" serializeAs="String">
                <value>https://secure-nikerunning.nike.com/nikeplus/v2/services/app/run_list.jsp</value>
            </setting>
            <setting name="GET_WORKOUT_DETAILS_URL" serializeAs="String">
                <value>https://secure-nikerunning.nike.com/nikeplus/v2/services/app/get_run.jsp?id={0}</value>
            </setting>
        </Import.NikePlus.Properties.Settings>
    </applicationSettings>
</configuration>